@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Configurações básicas */
* {
    font-family: 'Roboto', Arial;
}

:root {
    --primaryColor: #3574D8;
    --primaryGreen: #00BB9E;

    --secondaryTextColor: #1C1C1C;
}

.bg-primary-color {
    background-color: var(--primaryColor);
}

.primary-color {
    color: var(--primaryColor);
}


/* Navbar */
.navbar {
    padding: 0 188px;

    height: 80px;
}

.navbar-brand {
    font-weight: bold;
}

/* Container principal da página de início */
.main-container {
    padding: 50px 200px 125px 200px;

    color: #FFFFFF;
}

.main-container > h1 {
    font-size: 32px;
    font-weight: bold;
}

.main-container > p {
    font-size: 16px;
    font-weight: normal;

    margin: 20px 0;
}

.main-container > button {
    height: 50px;

    color: #FFFFFF;
    background-color: var(--primaryGreen);

    transition: all .2s linear;
}

.main-container > button:hover {
    color: var(--primaryGreen);
    background-color: #FFFFFF;
}

/* Container que sobrepõe o container principal da página de início */
.overflow-container {
    margin: 0 200px;
    margin-top: -75px;

    /* height: 150px; */

    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);

    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.overflow-card {
    /* width: 100%; */
    height: 150px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.overflow-card-icon {
    width: 36px;
    height: 36px;

    margin-bottom: 10px;

    background: blue;
}

.overflow-card-text {
    width: 100%;

    text-align: center;

    margin-top: 10px;

    font-size: 16px;
    font-weight: normal;
    color: var(--secondaryTextColor);
}

/* Responsividade */
@media (max-width: 1024px) {
    .navbar {
        padding: 0 100px;
    }

    .main-container {
        padding: 50px 100px 125px 100px;
    }

    .overflow-container {
        margin: 0 100px;
        margin-top: -75px;
    }
}

@media (max-width: 800px) {
    .navbar {
        padding: 0 20px;
    }

    .main-container {
        padding: 50px 20px 125px 20px;
    }

    .overflow-container {
        margin: 0 20px;
        margin-top: -75px;
    }
}