.main-container {
    background: var(--primaryColor);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px 200px;
}

.main-container > h1 {
    text-align: center;

    font-size: 38px;
    font-weight: bold;
    
    color: #FFFFFF;
}

.main-container > p {
    text-align: center;

    font-size: 16px;
    font-weight: normal;

    color: rgba(255, 255, 255, .8);
}

/* Seção da equipe */
.team-section {
    margin: 50px 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-section > h1 {
    font-size: 30px;
    font-weight: bold;

    color: var(--primaryTextColor);
}

.team-section-grid {
    margin-top: 10px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    column-gap: 40px;
    row-gap: 40px;
}

.devcard {
    max-width: 300px;
    height: 400px;

    border-radius: 5px;
    border: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
}

.devcard > img {
    width: 100%;
    height: 200px;
}

.devcard > div > h5 {
    text-align: center;

    font-size: 18px;
    font-weight: bold;

    margin-top: 10px;

    color: #1C1C1C;
}

.devcard > div > p {
    text-align: center;

    font-size: 16px;

    margin-top: 20px;

    color: #1C1C1C;
}

.devcard > div > div > a {
    text-decoration: none;
}

.devcard > div > div > a > img {
    margin: 10px 5px 10px 5px;

    width: 24px;
    height: 24px;

    cursor: pointer;
}

@media (max-width: 1024px) {
    .main-container {
        padding: 70px 100px;
    }

    .team-section {
        margin: 50px 100px;
    }
}

@media (max-width: 800px) {
    .main-container {
        padding: 70px 20px;
    }

    .team-section {
        margin: 50px 20px;
    }
}

@media (max-width: 550px) {
    .team-section-grid {
        grid-template-columns: 1fr;
    }
}
