.main-container {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 50px 500px;

  display: flex;
  flex-direction: column;

  /* background: rgba(0, 0, 0, .05); */
}

.main-image {
  width: 100%;
  max-height: 320px;
  object-fit: cover;

  border-radius: 5px;
}

.secondary-image-row {
  display: flex;
  justify-content: space-between;

  margin: 10px 0;
}

.secondary-image {
  max-width: 350px;
  height: 180px;
  object-fit: cover;
}

.hotel-name-row {
  display: flex;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 0;
}

.hotel-name {
  font-size: 24px;
  font-weight: bold;
  color: #2d2d2d;

  margin: 0;
  padding: 0;
}

.hotel-rating-img {
  width: 18px;
  height: 18px;

  margin-left: 10px;
}

.hotel-rating-value {
  margin: 0;
  padding: 0;

  font-size: 14px;

  margin-left: 5px;
}

.hotel-location {
  font-size: 14px;
  font-weight: normal;
  color: #4b4b4b;

  margin-top: 5px;
  margin-bottom: 10px;
}

.hotel-description {
  font-size: 14px;
  font-weight: normal;
  color: #4b4b4b;

  margin-top: 10px;
  margin-bottom: 30px;
}

.options-label {
  font-size: 20px;
  font-weight: bold;
  color: #2d2d2d;
}

.options-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-form > form {
  display: flex;
}

.options-form > button {
  height: 45px;
  margin-top: 10px;

  color: var(--primaryGreen);
  border: 1px solid var(--primaryGreen);
}

.options-form > button:hover {
  color: #fff;
  border: 1px solid #fff;
  background: var(--primaryGreen);
}

.options-group {
  margin-right: 10px;
}

.options-group > label {
  font-size: 14px;

  margin-top: 10px;
  margin-bottom: 0;
}

.options-group > input,
.options-group > select {
  background: #f6f4f3;

  border: 1px solid #cfcfcf;
}

.room-list {
  display: flex;
  flex-direction: column;
}

.room-item {
  width: 100%;
  height: 200px;

  display: flex;
  align-items: center;

  margin: 5px 0;

  border-radius: 5px;
  border: 1px solid #cfcfcf;
}

.room-item-img {
  width: 250px;
  height: 100%;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.room-item-content {
  margin: 0 20px;

  width: 100%;
}

.room-item-content > h1 {
  font-size: 16px;
  font-weight: bold;
  color: #2d2d2d;

  margin: 0;
  padding: 0;

  margin-bottom: 10px;
}

.room-item-content > p {
  color: #4b4b4b;
  font-size: 14px;

  margin: 0;
  padding: 0;

  width: 100%;
}

.room-item-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 20px;

  width: 200px;
  height: 100%;

  border-left: 1px solid #cfcfcf;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.room-item-actions > p {
  font-size: 12px;
  color: #4b4b4b;

  min-width: 150px;

  margin: 0;
  padding: 0;
}

.room-item-actions > h1 {
  font-size: 16px;
  font-weight: bold;
  color: #2d2d2d;

  margin: 10px 0;
  padding: 0;
}

.room-item-actions > button {
  color: var(--primaryGreen);
  border: 1px solid var(--primaryGreen);
}

.room-item-actions > button:hover {
  color: #fff;
  border: 1px solid #fff;
  background: var(--primaryGreen);
}

.room-item-actions > .active-room {
  color: #fff;
  border: 1px solid #fff;
  background: var(--primaryGreen);
}

@media (max-width: 1900px) {
  .main-container {
    padding: 50px 400px;
  }
}

@media (max-width: 1700px) {
  .main-container {
    padding: 50px 200px;
  }
}

@media (max-width: 1025px) {
  .main-container {
    padding: 50px 100px;
  }
}

@media (max-width: 800px) {
  .main-container {
    padding: 50px 20px;
  }
}

@media (max-width: 650px) {
  .room-list {
    justify-content: row;
    flex-wrap: wrap;
  }

  .room-item {
    flex-direction: column;
    align-items: center;

    height: auto;
    /* max-width: 250px; */
  }

  .room-item-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .room-item-content > h1 {
    margin-top: 10px;
  }

  .room-item-content {
    width: 100%;

    padding: 0 20px;
  }

  .room-item-actions {
    border: 0;
    border-top: 1px solid #cfcfcf;

    width: 100%;
    padding: 20px;

    margin-top: 10px;
  }
}
